@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 33% 96%;
    --foreground: 210 89% 8%;
    --card: 0 0% 100%;
    --card-foreground: 210 89% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 89% 8%;
    --primary: 214 95% 22%;
    --primary-foreground: 60 33% 80%;
    --secondary: 210 20% 96%;
    --secondary-foreground: 210 89% 8%;
    --muted: 210 20% 96%;
    --muted-foreground: 210 40% 40%;
    --accent: 207 60% 64%;
    --accent-foreground: 210 89% 8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 214 95% 22%;
    --chart-1: 214 95% 22%;
    --chart-2: 207 60% 64%;
    --chart-3: 210 89% 8%;
    --chart-4: 214 95% 40%;
    --chart-5: 207 60% 80%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 89% 8%;
    --foreground: 60 33% 80%;
    --card: 214 95% 22%;
    --card-foreground: 60 33% 80%;
    --popover: 214 95% 22%;
    --popover-foreground: 60 33% 80%;
    --primary: 207 60% 64%;
    --primary-foreground: 210 89% 8%;
    --secondary: 214 95% 22%;
    --secondary-foreground: 60 33% 80%;
    --muted: 214 95% 22%;
    --muted-foreground: 60 20% 70%;
    --accent: 207 60% 64%;
    --accent-foreground: 210 89% 8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 95% 22%;
    --input: 214 95% 22%;
    --ring: 207 60% 64%;
    --chart-1: 207 60% 64%;
    --chart-2: 214 95% 22%;
    --chart-3: 60 33% 80%;
    --chart-4: 207 60% 50%;
    --chart-5: 60 33% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
